@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

:root {
    --background: #f7f7f7;
    --background-blur: #f7f7f7d7;
    --secondary-bg: #fff;
    --text: #000;
    --active-color: #728cff;
    --container: #e7eeff;
    --button-bg: #becfff;
    --button-text: #5272ff;
    --memo-bg: #705f15;
    --input-bg: #e5ebfd;
    --input-text: #474747;
    --transparent-text: rgba(0, 0, 0, 0.3);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #121212;
        --background-blur: #121212d7;
        --secondary-bg: #242424;
        --text: #f3f3f3;
        --active-color: #6a85fc;
        --container: #353841;
        --button-bg: #3b3b3e;
        --button-text: #becfff;
        --memo-bg: #464a5b;
        --input-bg: #474747;
        --input-text: #e5ebfd;
        --transparent-text: rgba(255, 255, 255, 0.3);
    }

    button.red.transparent {
        color: #fd9696 !important;
        background-color: transparent !important;
    }

    button.red {
        color: #fd9696 !important;
        background-color: #574c4c !important;
    }

    .sanggibu-card a {
        color: #becfff !important;
    }

    div[role="dialog"] {
        background-color: #242424 !important;
    }

    [data-rsbs-header]:before {
        background-color: #eeeeee48 !important;
    }
}


html,
body {
    background-color: var(--background);
    color: var(--text);
    font-family: 'Sandoll Hoyoyo2', 'Pretendard', -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
    margin: 0;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-thumb {
    background: var(--button-bg);
    border-radius: 15px;
}

main {
    margin-left: 25dvw;
    min-height: 100dvh;
    width: 65dvw;
    box-sizing: border-box;
    padding: 20px 0;
}


div[role="dialog"] {
    width: 50vw !important;
    z-index: 999;
}

[data-rsbs-backdrop] {
    z-index: 998 !important;
}

@media screen and (max-width: 768px) {
    main {
        margin-left: 0;
        width: 100%;
        padding: 10px 20px;
        padding-right: 60px;
        float: auto;
    }

    div[role="dialog"] {
        width: 100vw !important;
    }
}


* {
    font-family: 'Sandoll Hoyoyo2', 'Pretendard', -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
    -webkit-tap-highlight-color: transparent;
}

*:focus {
    outline: none;
}

a {
    text-decoration: none;
    color: inherit;
    margin-bottom: 5px;
}

button {
    border: none;
    border-radius: 10px;
    background-color: var(--button-bg);
    color: var(--button-text);
    padding: 10px 1.25rem;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    margin: 0;
    text-align: center;
    font-size: .875rem;
    font-weight: 600;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -o-transition: .2s;
    transition: .2s
}

button:active {
    background-color: #5272ff;
    color: #becfff;
    transform: scale(.98);
    -webkit-transform: scale(.98);
    -moz-transform: scale(.98);
    -ms-transform: scale(.98);
    -o-transform: scale(.98)
}

button.red {
    background-color: #ffd2d2;
    color: #ff4141;
}


button svg {
    top: 0;
}


input {
    border: none;
    border-radius: 10px;
    background-color: var(--input-bg) !important;
    color: var(--input-text);
    padding: 15px 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: .875rem;
    resize: none;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    outline: none;
}


input[type=file] {
    display: none;
    height: 0;
    overflow: hidden;
    width: 0;
}

[type=file]+label {
    border: none;
    border-radius: 10px;
    background-color: #becfff;
    color: #5272ff;
    padding: 10px 1.25rem;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 1.3rem;
    margin: 0;
    text-align: center;
    font-size: .875rem;
    font-weight: 600;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -o-transition: .2s;
    transition: .2s
}

[type=file]+label:active {
    background-color: #5272ff;
    color: #becfff;
    transform: scale(.96);
    -webkit-transform: scale(.96);
    -moz-transform: scale(.96);
    -ms-transform: scale(.96);
    -o-transform: scale(.96)
}

textarea {
    border: none;
    border-radius: 10px;
    padding: 20px;
    background: var(--input-bg);
    color: var(--input-text);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: .875rem;
    resize: none;
    outline: none;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -o-transition: .2s;
    transition: .2s
}

button.transparent {
    background-color: transparent;
    padding: 10px;
}

button.border {
    background-color: transparent;
    border: #becfff 2px solid;
}


.navigation-sidebar {
    display: block;
    position: fixed;
    left: 20dvw;
    top: 0;
    width: 20dvw;
    height: 100dvh;
    box-sizing: border-box;
    background-color: var(--background);
    padding: 30px;
    overflow-y: auto;
}


.navigation-sidebar a.active {
    color: var(--button-text);
    font-weight: 600;
}

.list-item {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 10px;
    align-items: center;
    border-radius: 10px;
    height: 40px;
    padding: 0 10px;
    transition: transform 0.2s;
}

.list-item.active {
    background-color: var(--active-color);
}

.list-item:hover {
    transform: translateY(-3px);
}

.list-item button {
    display: none;
}

.list-item.active button {
    display: block;
}

.list-item button {
    font-size: 20px;
    padding: 0;
}


.sidebar-component {
    position: fixed;
    left: 0;
    top: 0;
    display: block;
    width: 20dvw;
    height: 100dvh;
    box-sizing: border-box;
    background-color: var(--secondary-bg);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
    border-radius: 0 20px 20px 0;
    padding: 30px;
    overflow: hidden;
    z-index: 3;
}

.sidebar-component.mobile {
    display: none;
    height: 80px;
    width: 100dvw;
    bottom: 0;
    top: unset;
    border-radius: 20px 20px 0 0;
    background-color: var(--background-blur);
    backdrop-filter: blur(15px) saturate(200%);
    -webkit-backdrop-filter: blur(15px) saturate(200%);
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.sidebar-component.mobile a {
    color: var(--transparent-text) !important;
    font-size: 11px;
    cursor: pointer;
    width: fit-content;
    display: flex;
    gap: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidebar-component.mobile a.active {
    color: var(--text) !important;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .navigation-sidebar {
        display: none;
    }

    .sidebar-component.pc {
        display: none;
    }

    .sidebar-component.mobile {
        display: flex;
    }
}

.bottom-sheet {
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-bottom: 30px;
    background-color: var(--secondary-bg);
}

.bottom-sheet h2 {
    padding: 0;
    margin: 0;
}

.loading-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 5px solid #5272ff;
    border-top: 5px solid #becfff;
    animation: spin 1s linear infinite;
}

.loading-full {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.loading-full .loading-circle {
    position: fixed;
    top: 50%;
    left: 47%;
    transform: translate(-47%, 0);
}

@keyframes spin {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

span.badge {
    position: relative;
    top: -2px;
    background-color: #5272ff;
    border-radius: 30px;
    padding: 3px 9px;
    color: white;
    font-size: 12px;
}

select::-ms-expand {
    display: none;
}

select {
    -o-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    border-radius: 15px;
    padding: 15px;
    border: none;
    background-color: var(--button-bg);
    color: var(--button-text);
    outline: none;
}

table {
    width: 106%;
    border-collapse: separate;
    border-spacing: 5px;
    margin: -10px
}

tbody th {
    background-color: var(--background);
    border-radius: 10px;
    height: 40px;
    max-width: 60px;
    max-height: 40px;
    color: var(--text);
    opacity: .8;
    padding: 5px;
    font-weight: 400;
    font-size: 13px;
    width: 50px;
}

th.active {
    color: var(--active-color);
    font-weight: 800
}

.skeleton-loader {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.1) 100%);
    background-size: 200% 100%;
    animation: loading 1.5s infinite;
}

@keyframes loading {
    to {
        background-position: -200% 0;
    }
}

.toastui-editor-defaultUI {
    border-radius: 15px !important;
}

.toastui-editor-defaultUI-toolbar {
    border-radius: 15px 15px 0 0 !important;
}

.toastui-editor-mode-switch {
    border-radius: 0 0 15px 15px !important;
}